.gridChildren {
    display: block;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    width: 80%;
    background-color: white;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.grid::-webkit-scrollbar {
    display: none;
}
