.mainDiv {
    display: flex;
    justify-content: center;
    background-color: #ECECEC;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.innerMainDiv {
    background-color: white;
    width: 80%;
    height: fit-content;
    min-height: 100vh;
}

.SongDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 29em;
    width: 100%;
    background-color: #7d7a7a;
}

.songDetailDiv {
    height: 90%;
    width: 95%;
}

.commentsDiv {
    width: 75%;
    height: 40%;
    padding-right: 2rem;
}

.commentBorder {
    margin-left: 70px;
    height: 70%;
    overflow-x: auto;
    list-style: none;
    flex-flow: wrap;
}

.img {
    height: 400px;
    width: 400px
}

.audioPlayer {
    width: 700px;
}

.title {

    background-color: black;
    color: white;
    width: fit-content;
    padding: 5px 5px;
    font-size: 20px;
    margin: 16px 0 5px 0;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
}

.artist {
    padding: 4px 5px;
    background-color: black;
    color: white;
    width: fit-content;
    font-size: 16px;

    margin: 0;
}

.audioAndTitleDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.songDetailsInnerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90%;
}

.editButton {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.deleteSongButton {
    background-color: black;
    color: white;
    border-radius: 3px;
}

.hiddenButton {
    display: none;

}

.liEle:hover>.hiddenButton {
    display: inline-flex;
    background-color: white;
    color: black;
    border: none;
}

.commentInput {
    display: flex;
    width: 80%;
    margin: 20px auto 0 auto;
    padding: 5px 0;
    text-indent: 10px;
    font-size: 12px;
}

.commentAndOtherSongsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    height: fit-content;
}

.extraSongContainerDiv {
    padding-left: 2rem;
    width: 20%;
    border-left: 1px solid #cdcdcd;
}

.otherSongImg {
    height: 50px;
    width: 50px;
}

.otherSongNav {
    display: flex;
    align-items: center;
    height: 3rem;
    margin-bottom: 1rem;
}

.otherSongDetailDiv {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 4px;
}
