.dropdown {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 37px;
    background-color: #f9f9f9;
    width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #333333;
    color: #cccccc;
  }

  .logOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #ff5500;
    color: #ffffff;
    border: none;
    border-radius: 2px;
  }
