.nav {
    display: flex;
    padding: 0;
    /* margin: 80% 0; */
    justify-content: center;
}

.navLinks {
    color: #CCCCCC;
    text-decoration: none;
    font-size: 14px;
    font-family: Interstate,Lucida Grande,Arial,sans-serif;
    display: inline;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
}

.navLinks:hover {
    color: white;
}

.liNav {
    display: flex;
    list-style: list-item;
    padding: 6px 3px;
    justify-content: center;
    align-items: center;
    margin: 0 5px;

}

.divForLi {
    display: flex;
    border-left: black solid .75px;
    border-right: black solid .75px;
}

.searchButton {
    display: none;
}

.searchInput {
    background-color: #e5e5e5;
    text-indent: 6px;
    display: flex;
    text-align:left;
    padding: 5px 0;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.searchInput:focus{
    background-color: white;
    border:none;
    outline: none;
}

.searchInput:focus::placeholder{
    color: transparent;
}

.searchForm {
    width: 300px;
}
